# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
test2/Servers/Tomcat v8.5 Server at localhost-config/web.xml
test2/Servers/Tomcat v8.5 Server at localhost-config/tomcat-users.xml
test2/Servers/Tomcat v8.5 Server at localhost-config/server.xml
test2/Servers/Tomcat v8.5 Server at localhost-config/context.xml
test2/Servers/Tomcat v8.5 Server at localhost-config/catalina.properties
test2/Servers/Tomcat v8.5 Server at localhost-config/catalina.policy
test2/Servers/.settings/org.eclipse.wst.server.core.prefs
test2/Servers/.project
bbbbff/bbbbff/target/m2e-wtp/web-resources/META-INF/maven/com.j2kb/bbbbff/pom.properties
bbbbff/bbbbff/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
bbbbff/bbbbff/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.15.0.20191217-1149.xml
bbbbff/bbbbff/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/splash-fix.css
bbbbff/bbbbff/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.mylyn.tasks.ui--477129374.css
bbbbff/bbbbff/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.jdt.ui-326703266.css
bbbbff/bbbbff/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.epp.mpc.ui.css--1027399938.css
bbbbff/bbbbff/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.egit.ui-1849137576.css
bbbbff/bbbbff/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.buildship.ui-1231266899.css
bbbbff/bbbbff/.metadata/.log
bbbbff/bbbbff/target/m2e-wtp/web-resources/META-INF/maven/com.j2kb/bbbbff/pom.properties
bbbbff/bbbbff/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
bbbbff/bbbbff/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.15.0.20191217-1149.xml
bbbbff/bbbbff/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/splash-fix.css
bbbbff/bbbbff/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.mylyn.tasks.ui--477129374.css
bbbbff/bbbbff/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.jdt.ui-326703266.css
bbbbff/bbbbff/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.epp.mpc.ui.css--1027399938.css
bbbbff/bbbbff/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.egit.ui-1849137576.css
bbbbff/bbbbff/.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.buildship.ui-1231266899.css
bbbbff/bbbbff/.metadata/.log
